.error {
  margin-left: 20px;
}

h1 {
  color: #ff6f6c;
  font-size: 21px;
  text-align: center;
  margin-top: 10px;
}

p {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  color: #084055;
}
