.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  margin: 40px 5px 5px 5px;

  .product {
    display: grid;
    width: 150px;
    grid-template-rows: 1fr 1fr 30px;
    margin: 5px 10px 10px 5px;
    justify-items: center;
    align-items: center;
    border: 2px solid #70CBFF;
    border-radius: 10px;
  }

  .title {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin: 15px 10px 0 0;
    color: #70CBFF;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  .price {
    font-size: 15px;
    color: #022F40;
    margin-left: -15px;
    text-align: center;

    &::before {
      content: '$';
    }
  }

  .img {
    width: 100px;
    height: auto;
  }

  .link {
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 20px;
  }

  .remove {
    background: none;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    padding: 3px 10px;
    margin-left: -15px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .buy {
    background: none;
    color: #70CBFF;
    border: 2px solid #70CBFF;
    border-radius: 10px;
    padding: 3px 10px;
    margin-left: -15px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.back {
  color: white;
  text-decoration: none;
  background-color: #70CBFF;
  position: absolute;
  top: 47px;
  left: 10px;
  padding: 5px 20px;
  border-radius: 10px;
}
